body {
    margin: 0;
    font-family: arial, sans-serif;
    background-color: #F9F9F9;
    color: #333;
    overflow: hidden; /* Remove o scroll visual */
    overflow-y: scroll; /* Garante que ainda é possível rolar verticalmente */
}

/* Solução universal para navegadores modernos */
body::-webkit-scrollbar {
    display: none; /* Remove a barra de rolagem */
}

.container {
    display: flex; /* Divisão horizontal entre azul e verde */
    height: 100vh; /* Altura total da tela */
    position: relative; /* Necessário para o posicionamento absoluto da imagem */
    overflow: hidden;
}

.background-layer {
    position: absolute; /* Fixa o fundo sem interferir no layout */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa toda a largura da página */
    height: 100%; /* Define a altura que o fundo ocupa */
    display: flex; /* Flexbox para alinhar o conteúdo */
    z-index: 1; /* Fica atrás do conteúdo */
}

.half {
    flex: 1;
    height: 100%; /* Altura total da tela */
}

.blue {
    background-color: #4831D4;  /* Cor azul */
    flex: 7.6; /* Ocupa 6/10 da largura */
    margin-top: -7.6%;
}

.green {
    background-color: #C0E579; /* Cor verde */;
    flex: 4; /* Ocupa 4/10 da largura */;
    margin-top: -7.6%;
}

.text-section {
    flex: 1.8; /* Ocupa metade da largura */
    color: white;
    display: flex; /* Flexbox para alinhar o conteúdo */
    flex-direction: column; /* Organiza os textos verticalmente */
    justify-content: center; /* Centraliza os textos verticalmente */
    padding: 40px;
    background-image: url('../image/dottles2.png'); /* Empilha pontos1 e pontos2 */
    background-repeat: no-repeat, no-repeat; /* Evita repetição */
    background-position: 95% 10%; /* Define posição para cada imagem */
    background-size: 23%; /* Define tamanhos diferentes para cada imagem */
    z-index: 3;  /* Coloca a seção de imagem acima da seção de texto */;
    margin-top: 0;
}

.text-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #C0E579; /* Cor verde claro */
    font-family: "Montserrat", sans-serif; /* Fonte Montserrat */
    font-weight: 700;
    align-items: flex-start; /* Alinha os itens à direita da tela */
    margin-left: 8%; /* Adiciona margem à esquerda */
}

.text-section h2 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: normal; /* Remove negrito */
    margin-left: 8%; /* Adiciona margem à esquerda */
    line-height: 1.6; /* Espaçamento entre linhas */
    font-family: "Montserrat", sans-serif; /* Fonte Montserrat */
    font-weight: 500; /*vinicius.scherer - Msm prop usada linha 77*/
}

.text-section p {
    font-size: 13px;
    margin-left: 10px;
    font-family: "Montserrat", sans-serif; /* Fonte Montserrat */
    font-weight: 500;
    padding: 5%; /* Espaçamento interno */
    
}

.image-section {
    flex: 1; /* Define a proporção da seção verde */

    display: flex; /* Torna flexível */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-image: url('../image/dottles.png'); /* Empilha pontos1 e pontos2 */
    background-repeat: no-repeat, no-repeat; /* Evita repetição */
    background-position: 20.5% 70%; /* Define posição para cada imagem */
    background-size: 50%; /* Define tamanhos diferentes para cada imagem */
    z-index: 3;  /* Coloca a seção de imagem acima da seção de texto */;
}



.image-section img {
    max-width: 20%; /* Limita a largura para se ajustar ao espaço */
    border-radius: 1%; /* Bordas arredondadas */
    position: absolute; /* Define a posição da imagem */
    left: 56%; /* Alinha à direita da tela */
    top: 20%;
    transition: transform 2s ease-in-out; /* Atualizado para simular 60 FPS */
    transform: scale(1); /* Tamanho inicial */
    box-shadow: -5px 5px 0 white; /* Ajuste os valores de deslocamento */
z-index: 3; /* Coloca a imagem acima da seção de texto */
}

.image-section img:hover {
    transform: scale(1.1); /* Expande a imagem em 1% */
}

.columns-container {
    display: flex; /* Cria layout horizontal com as colunas lado a lado */
    padding: 20px; /* Espaçamento interno */
    z-index: 1; /* Coloca a seção de colunas acima da imagem */
    position: relative; /* Necessário para o posicionamento absoluto da imagem */
}

.column {
    color: #C0E579; /* Cor do texto */
    padding: 26px; /* Espaçamento interno */
    line-height: 1.6; /* Espaçamento entre linhas */

}

.column-one {
    color: #C0E579; /* Cor do texto */
    padding: 26px; /* Espaçamento interno */
    line-height: 1.6; /* Espaçamento entre linhas */
    margin-left: -40px; /* Margem à esquerda */
}

@media (max-width: 768px) {
    .columns-container {
        flex-direction: column; /* Empilha as colunas verticalmente */
    }

    .column {
        width: 100%; /* Colunas ocupam toda a largura */
    }
}

.compare-section {
    height: 100px; /* Define a altura do rodapé */
    background-color: #F9F9F9; /* Cor branca */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */

}