/*Essa página de CSS será usado para construir a páginatwo do portifólio.  */

.split-section {
    display: flex;
}

.split-box {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.effect-img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    display: block;
}

.split-box.left {
    margin-top: 5%; /* Afasta o bloco do topo */
    margin-left: 100px;
}

.split-box.right {
    margin-left: 15%;
    margin-right: 100px;
    margin-top: 20%;
}

.split-box h2 {
    font-size: 54px;
    font-family: 'SF UI Text', sans-serif;  
    font-weight: 900;
    color: #4831D4;
}

.split-box p {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'SF UI Text', sans-serif;                             
    font-weight: 500;
    color: #3d155fb1;
    margin-top: -30px;
}

.engineering-image {
    max-width: 80%; /* Limita o tamanho máximo */
    margin-bottom: 0; /* Remove espaçamento extra */
    margin-top: -100%; /* Margem negativa para subir a imagem */

}

.engineering-imageone {

    display: block; /* Faz com que a imagem seja um bloco independente */
    margin: 20px auto 0; /* Espaço acima, centraliza horizontalmente, e ajusta a margem inferior */
    width: 100%; /* Ajusta a largura total dentro da área */
    max-width: 350px; /* Limita o tamanho máximo para não ficar exagerada */
}
